body {
    background-color: rgb(253, 251, 251);
}
#cabecalho {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 30px;
}
#rodape {
    position: absolute;
    bottom: 0;
}
#texto1 {
    font-size: 35px;
   color: blue;
    font-family: 'Times New Roman', Times, serif; 
}
#texto2 {
    line-height: normal;
}
table {
    margin-left: 590px;
    margin-bottom: 10px;
    border: 1px solid black;
    text-align: center;
  }